#menu-high {
    width: 100vw;
    height: 15vh;
    position:fixed;
    top: 0;
    left: 0;
    background-color:rgb(26, 135, 108);
}

#menu-button {
    width: 3vw;
    position:absolute;
    top: 3vw;
    left: 3vw;
    filter: invert(1);
    cursor: pointer;
}

#credits {
    position: relative;
    top: 90vh;
    text-align: center;
}

#title {
    font-size:10vh;
    text-align: center;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    top: -4.5vh;
    color: white;
}

#hidden-lateral-menu {
    width: 10vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(69, 167, 134);
}

#hidden-lateral-menu img {
    filter: invert(1);
    width: 5vw;
}

#home-button {
    position: absolute;
    top: 20vh;
    left: 4vh;
    cursor: pointer;
}

body {
    overflow-x: hidden;
}
#text {
    color: black;
    position: relative;
    top: 20vh;
    text-align: center;
}